.footer-con{
    display: flex;
    width: 100%;
    text-align: left;
    height: 26rem;
    flex-shrink: 0;
    background: #393434;
    display: flex;
    color: #FFF;
    padding: 0  10.38rem;
}
.footer-contact  {
    
    margin-left: 2.5rem ;
   margin-top: 1.56rem ;
   
}
.footer-categroies ,.footer-pages{ 
    
    width: 7rem;
}

.footer-subscription {

    width: 22.125rem;
}
footer h2 {
    color: #FF9C00;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-pages ,.footer-subscription ,.footer-categroies{
    margin-top: 1.6125rem ;

}
.footer-subscription ,.footer-categroies{
    margin-left: 4.725rem;
}

/* -------------------- */
.footer-contact> img {
    margin-right: 1.12rem;
}
.footer-contact >p, h2 {
    width: 16.375rem;
}
.footer-contact>p , .footer-subscription>p ,.footer-pages >a ,.footer-categroies >a{
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.footer-contact p {
    padding-top:0.63rem ;
}
.footer-pages >a ,.footer-categroies >a  {
    padding-top:0.63rem ;
    display: flex;
    text-decoration: none;

}

.footer-inpt {
      width: 22.25rem;
      height: 2.8125rem;
      flex-shrink: 0;
      border-radius: 6.25rem;
      background: rgba(0, 0, 0, 0.20);
      border: none;
      backdrop-filter: blur(20px);
      color: #FFF;
  }
  .footer-inpt:focus {
    outline:none!important ;
  }

  
  .footer-inpt::placeholder {
    padding-left: 1.5rem;
    color: white;
  }
  
  .emil-btn {
    position: absolute;
    right: 0.31rem;
    top: 0.31rem;
    margin: 0;
  }
  
  .footer-submit {
    position: relative;
    display: inline-block;
  }

  /* media queries */
  
@media screen and (max-width: 780px){
 
  
  
    .footer-con{
        height: 100%;
        width: 90rem;
        margin-left:auto;
        margin-right:auto;
        padding: 0 1rem ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        justify-content: space-between;
     
    }
    footer h2 {
        font-size: 1rem;
    }
    .footer-contact>p , .footer-subscription>p ,.footer-pages >a ,.footer-categroies >a{
        font-size: 0.8rem;
    }
    .footer-pages ,.footer-subscription ,.footer-categroies{
        margin: 0;
        padding: 0;
    }
    .footer-subscription {
        margin-right: -5px;
        margin-left: -7.5rem; 
    }
 
    .footer-contact  {
    margin-left: 0 ;
       margin-top: 0.8rem ;
       width: 15.375rem;
       
    }
    .footer-categroies ,.footer-pages{ 
    
        width: 7rem;
    }
    
    .footer-pages {
        margin-top: 1.6125rem ;
    
    }
    .footer-submit{
        width: 100%;
        margin-top: 10px;
    }
    .footer-inpt {
        
        width: 20rem;
        height: 2.8125rem;
    }
    
}