.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    
   padding-bottom: 3.125rem ;
}


/* media queries */
  
@media screen and (max-width: 780px){

   .site-wrapper {
    max-width:100%;
   }
}
