*, *::before, *::after {
    box-sizing: border-box;

}
body {
    width: 100%;
    margin: 0;
    padding: 0;
   
    text-align: center;
}


/* media queries */
  
/* @media screen and (min-width:767px) and (max-width:1023px){
    
} */
@media screen and (max-width: 767px){
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0 ;
        padding: 0;
    }
    body {
        max-width:100%;
     
    }
    *, *::before, *::after {
        box-sizing: border-box;
         max-width: 100%;
         
    }
   
  
    
}